//
// $Id: mgide.rc,v 1.4 2016-10-01 23:19:31 fyurisich Exp $
//

IDE_ABOUT             JPG          imgs\oohgjpg.jpg
IDE_ACTIVEX           BITMAP       imgs\activex.bmp
IDE_ANIMATEBOX        BITMAP       imgs\animatebox.bmp
IDE_ATEXT             BITMAP       imgs\atext.bmp
IDE_B_R               BITMAP       imgs\build_run.bmp
IDE_BACKIMG           JPG          imgs\hmiq.jpg
IDE_BROWSE            BITMAP       imgs\browse.bmp
IDE_BUILD             BITMAP       imgs\build.bmp
IDE_BUTTON            BITMAP       imgs\button.bmp
IDE_CHECKBOX          BITMAP       imgs\checkbox.bmp
IDE_CHECKBUTTON       BITMAP       imgs\checkbutton.bmp
IDE_CHECKLIST         BITMAP       imgs\checklist.bmp
IDE_CL_FL             BITMAP       imgs\cl_fl.bmp
IDE_COMBOBOX          BITMAP       imgs\combobox.bmp
IDE_CONFIG            BITMAP       imgs\cp_settings.bmp
IDE_CVCPHOTO          BITMAP       imgs\cvcbmp.bmp
IDE_DATEPICKER        BITMAP       imgs\datepicker.bmp
IDE_DEBUG             BITMAP       imgs\debug.bmp
IDE_DEL               BITMAP       imgs\delete.bmp
IDE_DELCTRL           BITMAP       imgs\deletecontrol.bmp
IDE_DM                BITMAP       imgs\data_manager.bmp
IDE_DM_BROWSE         BITMAP       imgs\menubrowse.bmp
IDE_DM_MENUCLOSE      BITMAP       imgs\menuclose.bmp
IDE_DM_MENUEDIT       BITMAP       imgs\menuedit.bmp
IDE_DM_MENUNEW        BITMAP       imgs\menunew.bmp
IDE_DM_MENUPACK       BITMAP       imgs\menupack.bmp
IDE_DM_MENURECA       BITMAP       imgs\menurecall.bmp
IDE_DM_MENUSTRU       BITMAP       imgs\menustru.bmp
IDE_DM_MENUZAP        BITMAP       imgs\menuzap.bmp
IDE_DOC               BITMAP       imgs\doc.bmp
IDE_DOC_FL            BITMAP       imgs\doc_fl.bmp
IDE_EDIT              ICON         imgs\edit.ico
IDE_EDITBOX           BITMAP       imgs\editbox.bmp
IDE_EDTTOOL           BITMAP       imgs\toolbarbuilder.bmp
IDE_EXIT              BITMAP       imgs\left.bmp
IDE_FIND              BITMAP       imgs\search.bmp
IDE_FRAME             BITMAP       imgs\frame.bmp
IDE_FRMEVENTS         BITMAP       imgs\event.bmp
IDE_FRMFONT           BITMAP       imgs\fontcolor.bmp
IDE_FRMPROPS          BITMAP       imgs\properties.bmp
IDE_GO                BITMAP       imgs\go.bmp
IDE_GRID              BITMAP       imgs\grid.bmp
IDE_HKB               BITMAP       imgs\hkb.bmp
IDE_HYPLINK           BITMAP       imgs\hyplink.bmp
IDE_IMAGE             BITMAP       imgs\image.bmp
IDE_IMAGEBUTTON       BITMAP       imgs\imagebutton.bmp
IDE_IMAGECHECKBUTTON  BITMAP       imgs\imagecheckbutton.bmp
IDE_IPAD              BITMAP       imgs\ipaddr.bmp
IDE_LABEL             BITMAP       imgs\label.bmp
IDE_LISTBOX           BITMAP       imgs\listbox.bmp
IDE_MENUCNTX          BITMAP       imgs\contextmenubuilder.bmp
IDE_MENUMAIN          BITMAP       imgs\mainmenubuilder.bmp
IDE_MENUNOTY          BITMAP       imgs\notifymenubuilder.bmp
IDE_METER             BITMAP       imgs\meter.bmp
IDE_MMS               BITMAP       imgs\move.bmp
IDE_MOD               BITMAP       imgs\mod.bmp
IDE_MONTHCAL          BITMAP       imgs\monthcal.bmp
IDE_MOVECTRL          BITMAP       imgs\intermove2.bmp
IDE_NEW               BITMAP       imgs\new.bmp
IDE_NEWITEM           BITMAP       imgs\new_project.bmp
IDE_NEXT              BITMAP       imgs\next.bmp
IDE_OIDE              BITMAP       imgs\oide.bmp
IDE_OOHG              BITMAP       imgs\oohg16.bmp
IDE_OP_FL             BITMAP       imgs\op_fl.bmp
IDE_OPENDBF           BITMAP       imgs\open.bmp
IDE_OPENPRJ           BITMAP       imgs\open_project.bmp
IDE_ORDER             BITMAP       imgs\controlorder.bmp
IDE_PICTURE           BITMAP       imgs\picture.bmp
IDE_PLAYER            BITMAP       imgs\player.bmp
IDE_PRINT             BITMAP       imgs\print.bmp
IDE_PROGRESSBAR       BITMAP       imgs\progressbar.bmp
IDE_RADIOGROUP        BITMAP       imgs\radiogroup.bmp
IDE_REFOR             BITMAP       imgs\tbarb.bmp
IDE_RICHEDIT          BITMAP       imgs\richedit.bmp
IDE_RUN               BITMAP       imgs\run.bmp
IDE_SAVE              BITMAP       imgs\save.bmp
IDE_SAVEAS            BITMAP       imgs\saveas.bmp
IDE_SCRLLBR           BITMAP       imgs\scrollbar.bmp
IDE_SELECT            BITMAP       imgs\select.bmp
IDE_SIZECTRL          BITMAP       imgs\manualsize.bmp
IDE_SLIDER            BITMAP       imgs\slider.bmp
IDE_SPINNER           BITMAP       imgs\spinner.bmp
IDE_SPLASH            JPG          imgs\hmi.jpg
IDE_STATBAR           BITMAP       imgs\statusbarbuilder.bmp
IDE_TAB               BITMAP       imgs\tab.bmp
IDE_TEXTBOX           BITMAP       imgs\textbox.bmp
IDE_TIMEP             BITMAP       imgs\timep.bmp
IDE_TIMER             BITMAP       imgs\timer.bmp
IDE_TREE              BITMAP       imgs\tree.bmp
IDE_VD                ICON         imgs\vd.ico
IDE_XBROWSE           BITMAP       imgs\xbrowse.bmp
