//
// $Id: mgide.rc,v 1.3 2014-09-22 02:35:41 fyurisich Exp $
//

EDIT              ICON         imgs\edit.ico
VD                ICON         imgs\vd.ico

RUN               BITMAP       imgs\run.bmp
SAVE              BITMAP       imgs\save.bmp
SAVEAS            BITMAP       imgs\saveas.bmp
EXIT              BITMAP       imgs\LEFT.bmp
OPEN              BITMAP       imgs\open.bmp
NEW               BITMAP       imgs\new.bmp
MOD               BITMAP       imgs\mod.bmp
BUILD             BITMAP       imgs\build.bmp
SELECT            BITMAP       imgs\select.bmp
BUTTON1           BITMAP       imgs\button.bmp
DOC               BITMAP       imgs\doc.bmp
DOC_FL            BITMAP       imgs\doc_fl.bmp
CL_FL             BITMAP       imgs\cl_fl.bmp
OP_FL             BITMAP       imgs\op_fl.bmp
REMOV             BITMAP       imgs\remov.bmp
Bmprin            BITMAP       imgs\BPrinter.bmp
BUS               BITMAP       imgs\bus.bmp
WD                BITMAP       imgs\wd.bmp
XBROWSE           BITMAP       imgs\xbrowse.bmp
ACTIVEX           BITMAP       imgs\activex.bmp
METER             BITMAP       imgs\meter.bmp
PICTURE           BITMAP       imgs\picture.bmp
SCRLLBR           BITMAP       imgs\scrollbar.bmp
TIMEP             BITMAP       imgs\timep.bmp
CHECKLIST         BITMAP       imgs\checklist.bmp
BROWSE            BITMAP       imgs\browse.bmp
CHECKBOX1         BITMAP       imgs\checkbox.bmp
LISTBOX1          BITMAP       imgs\listbox.bmp
COMBOBOX1         BITMAP       imgs\combobox.bmp
GRID              BITMAP       imgs\grid.bmp
TIMER             BITMAP       imgs\timer.bmp
TAB               BITMAP       imgs\tab.bmp
SPINNER           BITMAP       imgs\spinner.bmp
IMAGE             BITMAP       imgs\image.bmp
LABEL             BITMAP       imgs\label.bmp
TEXTBOX           BITMAP       imgs\textbox.bmp
HKB               BITMAP       imgs\hkb.bmp
ATEXT             BITMAP       imgs\atext.bmp
EDITBOX           BITMAP       imgs\editbox.bmp
RADIOGROUP        BITMAP       imgs\radiogroup.bmp
SLIDER            BITMAP       imgs\slider.bmp
PROGRESSBAR       BITMAP       imgs\progressbar.bmp
ANIMATEBOX        BITMAP       imgs\animatebox.bmp
PLAYER            BITMAP       imgs\player.bmp
FRAME             BITMAP       imgs\frame.bmp
DATEPICKER        BITMAP       imgs\datepicker.bmp
CHECKBUTTON       BITMAP       imgs\checkbutton.bmp
IMAGECHECKBUTTON  BITMAP       imgs\Imagecheckbutton.bmp
IMAGEBUTTON       BITMAP       imgs\Imagebutton.bmp
TREE              BITMAP       imgs\tree.bmp
IPAD              BITMAP       imgs\ipaddr.bmp
MONTHCAL          BITMAP       imgs\monthcal.bmp
HYPLINK           BITMAP       imgs\hyplink.bmp
RICHEDIT          BITMAP       imgs\richedit.bmp
CVCBMP            BITMAP       imgs\cvcbmp.bmp
FIND              BITMAP       imgs\find.bmp
NEXT              BITMAP       imgs\next.bmp
GO                BITMAP       imgs\go.bmp
TBFIND            BITMAP       imgs\TBFIND.BMP
TBRUN             BITMAP       imgs\TBRUN.BMP
TBPRINT           BITMAP       imgs\TBPRINT.BMP
TBREMOVE          BITMAP       imgs\TBREMOVE.BMP
TBNEW             BITMAP       imgs\TBNEW.BMP
TBMOD             BITMAP       imgs\TBMOD.BMP
TBMOD1            BITMAP       imgs\TBMOD1.BMP
TBMOD2            BITMAP       imgs\TBMOD2.BMP
TBBUILD           BITMAP       imgs\TBBUILD.BMP
TBBUILD2          BITMAP       imgs\TBBUILD2.BMP
TBqbrow           bitmap       imgs\tbqbrow.bmp
MENU1             BITMAP       imgs\MENU.BMP
TPROP             BITMAP       imgs\TPROP.BMP
TEVEN             BITMAP       imgs\TEVEN.BMP
TFOCO             BITMAP       imgs\TFOCO.BMP
torder            BITMAP       imgs\torder.bmp
tbarb             BITMAP       imgs\tbarb.bmp
tframe            BITMAP       imgs\tframe.bmp
tstat             BITMAP       imgs\tstat.bmp
stat              BITMAP       imgs\stat.bmp
A1                BITMAP       imgs\LEFT.bmp
A2                BITMAP       imgs\SAVE.bmp
A3                BITMAP       imgs\SAVEAS.bmp
A4                BITMAP       imgs\PROPERTIES.bmp
A5                BITMAP       imgs\EVENT.bmp
A6                BITMAP       imgs\FONTCOLOR.bmp
A7                BITMAP       imgs\MOVE.bmp
A8                BITMAP       imgs\MAINMENUBUILDER.bmp
A9                BITMAP       imgs\CONTEXTMENUBUILDER.bmp
A10               BITMAP       imgs\NOTIFYMENUBUILDER.bmp
A11               BITMAP       imgs\TOOLBARBUILDER.bmp
A12               BITMAP       imgs\CONTROLORDER.bmp
A13               BITMAP       imgs\STATUS.bmp
A14               BITMAP       imgs\MANUALSIZE.bmp
A15               BITMAP       imgs\INTERMOVE.bmp
A16               BITMAP       imgs\DELETECONTROL.bmp
A17               BITMAP       imgs\INTERMOVE2.bmp
M1                BITMAP       imgs\LEFT.bmp
M2                BITMAP       imgs\NEW_PROJECT.bmp
M3                BITMAP       imgs\OPEN_PROJECT.bmp
M4                BITMAP       imgs\SAVE.bmp
M5                BITMAP       imgs\DELETE.bmp
M6                BITMAP       imgs\PRINT.bmp
M7                BITMAP       imgs\BUILD.bmp
M8                BITMAP       imgs\BUILD_RUN.bmp
M9                BITMAP       imgs\RUN.bmp
M10               BITMAP       imgs\SEARCH.bmp
M11               BITMAP       imgs\BROWSE.bmp
M12               BITMAP       imgs\DATA_MANAGER.bmp

HMIQ              JPG          imgs\hmiq.jpg
MYOOHG            JPG          imgs\oohgjpg.jpg
HMI               JPG          imgs\hmi.jpg
