//
// $Id: oohg.rc $
//
// Use CompileRes_mingw.bat to build oohg.o from this file using MinGW compiler

#include "_oohg_resconfig.h"

// MANIFESTS TO ALLOW THE STYLING OF CONTROLS BY THE OS

#if defined( HB_ARCH_64BIT )
    1 24 oohgpath\WindowsXP64.Manifest
#else
    1 24 oohgpath\WindowsXP.Manifest
#endif

// CURSORS

MINIGUI_FINGER          CURSOR          oohgpath\finger.cur
MINIGUI_DRAGUP          CURSOR          oohgpath\dragup.cur
MINIGUI_DRAGDOWN        CURSOR          oohgpath\dragdown.cur
DRAG_NO                 CURSOR          oohgpath\dragno.cur
DRAG_ARROW_COPY         CURSOR          oohgpath\dragcopy.cur
DRAG_ARROW_MOVE         CURSOR          oohgpath\dragmove.cur

// EDIT COMMAND IMAGE BUTTONS

MINIGUI_EDIT_CANCEL     BITMAP          oohgpath\edit_cancel.bmp
MINIGUI_EDIT_CLOSE      BITMAP          oohgpath\edit_close.bmp
MINIGUI_EDIT_COPY       BITMAP          oohgpath\edit_copy.bmp
MINIGUI_EDIT_DELETE     BITMAP          oohgpath\edit_delete.bmp
MINIGUI_EDIT_EDIT       BITMAP          oohgpath\edit_edit.bmp
MINIGUI_EDIT_FIND       BITMAP          oohgpath\edit_find.bmp
MINIGUI_EDIT_NEW        BITMAP          oohgpath\edit_new.bmp
MINIGUI_EDIT_OK         BITMAP          oohgpath\edit_ok.bmp
MINIGUI_EDIT_PRINT      BITMAP          oohgpath\edit_print.bmp
MINIGUI_EDIT_ADD        BITMAP          oohgpath\edit_add.bmp
MINIGUI_EDIT_DEL        BITMAP          oohgpath\edit_del.bmp
MINIGUI_EDIT_SET        BITMAP          oohgpath\edit_set.bmp
MINIGUI_EDIT_UNDO       BITMAP          oohgpath\edit_undo.bmp

// MISCELANEOUS

ZZZ_AAAOOHG             ICON            oohgpath\oohg.ico
ZZZ_AAAWINDOW           ICON            oohgpath\window.ico
ZZZ_LED_ON              ICON            oohgpath\led_on.ico
ZZZ_LED_OFF             ICON            oohgpath\led_off.ico

// HBPRINT PRINT PREVIEW IMAGE BUTTONS

zzz_printicon           ICON            oohgpath\print.ico
hbprint_end             BITMAP          oohgpath\hbprint_end.bmp
hbprint_next            BITMAP          oohgpath\hbprint_next.bmp
hbprint_top             BITMAP          oohgpath\hbprint_top.bmp
hbprint_back            BITMAP          oohgpath\hbprint_back.bmp
hbprint_close           BITMAP          oohgpath\hbprint_close.bmp
hbprint_print           BITMAP          oohgpath\hbprint_print.bmp
hbprint_save            BITMAP          oohgpath\hbprint_save.bmp
hbprint_zoomin          BITMAP          oohgpath\hbprint_zoomin.bmp
hbprint_zoomout         BITMAP          oohgpath\hbprint_zoomout.bmp
hbprint_option          BITMAP          oohgpath\hbprint_option.bmp

// MINIPRINT PRINT PREVIEW IMAGE BUTTONS

HP_END                  BITMAP          oohgpath\hp_end.bmp
HP_TOP                  BITMAP          oohgpath\hp_top.bmp
HP_NEXT                 BITMAP          oohgpath\hp_next.bmp
HP_BACK                 BITMAP          oohgpath\hp_back.bmp
HP_PRINT                BITMAP          oohgpath\hp_print.bmp
HP_ZOOM                 BITMAP          oohgpath\hp_zoom.bmp
HP_GOPAGE               BITMAP          oohgpath\hp_gopage.bmp
HP_CLOSE                BITMAP          oohgpath\hp_close.bmp
HP_SAVE                 BITMAP          oohgpath\hp_save.bmp
HP_THUMBNAIL            BITMAP          oohgpath\hp_thumbnail.bmp
HP_GLASS                CURSOR          oohgpath\hp_glass.cur

// IMAGES FOR TGRIDCONTROL BUTTONS

EDIT_OK_16              BITMAP          oohgpath\edit_ok_16.bmp
EDIT_CANCEL_16          BITMAP          oohgpath\edit_cancel_16.bmp
