//
// $Id: oohg_bcc.rc,v 1.2 2013-07-30 01:51:18 fyurisich Exp $
//
// Use CompileRes.bat to build oohg.res from this file using Borland Compiler

// MANIFEST FOR CREATE 'XP-STYLE' APPLICATIONS

1 24 WindowsXP.Manifest

MINIGUI_FINGER          CURSOR          FINGER.CUR

// EDIT COMMAND IMAGE BUTTONS

MINIGUI_EDIT_CANCEL     BITMAP          edit_cancel.bmp
MINIGUI_EDIT_CLOSE      BITMAP          edit_close.bmp
MINIGUI_EDIT_COPY       BITMAP          edit_copy.bmp
MINIGUI_EDIT_DELETE     BITMAP          edit_delete.bmp
MINIGUI_EDIT_EDIT       BITMAP          edit_edit.bmp
MINIGUI_EDIT_FIND       BITMAP          edit_find.bmp
MINIGUI_EDIT_NEW        BITMAP          edit_new.bmp
MINIGUI_EDIT_OK         BITMAP          edit_ok.bmp
MINIGUI_EDIT_PRINT      BITMAP          edit_print.bmp
MINIGUI_EDIT_ADD        BITMAP          edit_add.bmp
MINIGUI_EDIT_DEL        BITMAP          edit_del.bmp
MINIGUI_EDIT_SET        BITMAP          edit_set.bmp
MINIGUI_EDIT_UNDO       BITMAP          edit_undo.bmp

ZZZ_AAAWINDOW           ICON            WINDOW.ICO
ZZZ_LED_ON              ICON            LED_ON.ICO
ZZZ_LED_OFF             ICON            LED_OFF.ICO

// HBPRINT PRINT PREVIEW IMAGE BUTTONS

zzz_printicon           ICON    print.ico
hbprint_end             BITMAP  hbprint_end.bmp
hbprint_next            BITMAP  hbprint_next.bmp
hbprint_top             BITMAP  hbprint_top.bmp
hbprint_back            BITMAP  hbprint_back.bmp
hbprint_close           BITMAP  hbprint_close.bmp
hbprint_print           BITMAP  hbprint_print.bmp
hbprint_save            BITMAP  hbprint_save.bmp
hbprint_zoomin          BITMAP  hbprint_zoomin.bmp
hbprint_zoomout         BITMAP  hbprint_zoomout.bmp
hbprint_option          BITMAP  hbprint_option.bmp

// MINIPRINT PRINT PREVIEW IMAGE BUTTONS

HP_END          BITMAP  HP_END.BMP
HP_TOP          BITMAP  HP_TOP.BMP
HP_NEXT         BITMAP  HP_NEXT.BMP
HP_BACK         BITMAP  HP_BACK.BMP
HP_PRINT        BITMAP  HP_PRINT.BMP
HP_ZOOM         BITMAP  HP_ZOOM.BMP
HP_GOPAGE       BITMAP  HP_GOPAGE.BMP
HP_CLOSE        BITMAP  HP_CLOSE.BMP
HP_SAVE         BITMAP  HP_SAVE.BMP
HP_THUMBNAIL    BITMAP  hp_thumbnail.bmp
HP_GLASS        CURSOR  HP_GLASS.CUR

// IMAGES FOR TGRIDCONTROL BUTTONS

EDIT_OK_16      BITMAP  EDIT_OK_16.BMP
EDIT_CANCEL_16  BITMAP  EDIT_CANCEL_16.BMP
